<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
	<title>Mr. Johnson's Delivery Vehicle Rental</title>
</head>
<body>
	<header>
		<nav class="navbar is-primary">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<h1 class="title is-4">Mr. Johnson's Delivery Vehicle Rental</h1>
				</a>
			</div>
		</nav>
	</header>
	<main class="container is-flex is-flex-direction-column">
		<h1 class="title">Login</h1>
		<p class="has-text-danger">{{ msg }}</p>
		<form method="post">
			<div class="field">
				<label class="label">Name</label>
				<div class="control">
					<input class="input" type="text" name="username" placeholder="Username">
				</div>
			</div>
			<div class="field">
				<label class="label">Password</label>
				<div class="control">
					<input class="input" type="password" name="password" placeholder="password">
				</div>
			</div>
			<div class="field is-grouped">
				<div class="control">
					<button class="button is-link">Login</button>
				</div>
			</div>
		</form>
	</main>
</body>
</html>
